
/** Table Style **/
.custom-table{
    margin-top:10px;
    padding-top:10px;
}
.custom-table th, .custom-table td {
    border: 1px solid #000;
    padding: 3px !important;
    font-size: 11px !important;
}

.custom-table th {
    background-color: gainsboro;
    font-weight: 700;
}

.gray{
    background-color: gainsboro;
}

.has-border{
     border: 2px solid #000;
}
.custom-table1 th, .custom-table1 td {
    border: 1px solid #000;
    padding: 1px !important;
    font-size: 11px !important;
}
.width-5-percent{
    max-width: 5%;
}
.width-10-percent{
    max-width: 10%;
}
.width-15-percent{
    max-width: 93px !important;
}
@media print {
  .pba {page-break-after: always;}
}

